
#focus {
    background: rgba(255, 0, 0, 0.7);
    padding: 20px;
    font-weight: bold;
    font-size: 30px;
    color: #fff;
  }
  
  .mono {
    font-family: "Cutive Mono", monospace;
  }
  
  .wrong {
    background: #99f;
    color: #fff;
  }
  
  hr {
    margin: 1em 0;
    max-width: 800px;
    border: none;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    margin: 0 auto;
  }
  
  .results {
    /*position: fixed;*/
    top: 0;
    left: 0;
    right: 0;
  }
  
  .stats {
    overflow: hidden;
    margin-bottom: 1em;
    height: 100px;
    list-style: none;
    padding: 5px 0;
    font-size: 16px;
    font-weight: 900;
    max-width: 1000px;
    margin: 0 auto;
  }
  .stats li {
    width: 25%;
    float: left;
  }
  
  .target {
    color: #fff;
    text-align: left;
    font-size: 32px;
    min-width: 300px;
    min-height: 40px;
    width: 600px;
    display: inline-block;
    position: relative;
    white-space: pre;
    background: #333;
    box-shadow: inset 0 0 10px 0 rgba(255, 255, 255, 0.2);
    padding: 22px 10px 10px;
  }
  .target:after {
    content: '';
    position: absolute;
    width: 20px;
    height: 2px;
    background: #f00;
    left: 10px;
    top: 53px;
    -webkit-animation: cursor_flash .5s infinite;
    animation: cursor_flash .5s infinite;
  }
  .target:before {
    font-family: Roboto;
    top: 0;
    left: 0;
    right: 0;
    background: #000;
    content: 'Type the text below';
    text-transform: uppercase;
    font-size: 10px;
    padding: 2px;
    text-align: left;
    position: absolute;
    color: #fff;
  }
  
  @-webkit-keyframes cursor_flash {
    0% {
      background: #fff;
    }
    50% {
      background: #99f;
    }
    100% {
      background: #fff;
    }
  }
  @keyframes cursor_flash {
    0% {
      background: #fff;
    }
    50% {
      background: #99f;
    }
    100% {
      background: #fff;
    }
  }
  .button {
    display: inline-block;
    padding: 8px 10px;
    background: #057f24;
    border-radius: 2px;
    color: #fff;
  }
  
  #textarea {
    position: absolute;
  }
  
  .spell {
    font-size: 40px;
    font-weight: 900;
    letter-spacing: 2px;
  }
  .spell span {
    color: #2222ff;
  }
  
  textarea {
    color: #fff;
    width: 60%;
    margin: 1em auto;
    display: none;
    position: relative;
    white-space: pre;
    background: #333;
    box-shadow: inset 0 0 10px 0 rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.4);
  }
  
  .your-attempt {
    background: #222;
    color: #fff;
    padding: 10px;
    min-height: 100px;
    border: 1px solid #555;
    max-width: 600px;
    margin: 2em auto;
    white-space: pre-wrap;
  }
  
  .results {
    font-family: Roboto;
  }
  
  .settings {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 3px 6px 6px;
    background: #444;
    font-family: Roboto, sans-serif;
    color: #999;
    text-align: left;
    text-shadow: 0 0 6px rgba(0, 0, 0, 0.6);
    border-top: 3px solid #222;
    font-size: 12px;
  }
  .settings a {
    color: #fff;
    transition: color 0.2s;
    text-decoration: none;
  }
  .settings a:hover {
    color: #ccf;
  }